{% extends 'attendance/base.html' %}
{% block title %}{{ teacher.teacher_name }} | Attendance{% endblock %}
{% block body %}
    <style>
        .align li{
            list-style: none;
            float: left;
            margin-right: 20px;
        }

    </style>
    <div class="container">
        <center><h1>Update Student Attendance:</h1></center>
        <center><h3>{{ date }}</h3></center>
    <p></p><br>
    {% if error %}
        <p><strong>{{ error }}</strong></p>
    {% endif %}


    <form method="POST" class="post-form">
        {{ formset.management_form }}
        {% csrf_token %}
    <br>
        <table class="table table-bordered table-hover ">
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Mark Attendance</th>
            </tr>
            {% for student,form in list %}
                <tr>
                    <td>{{ student.roll_no }}</td>
                    <td>{{ student.student_name }}</td>
                    <td class="align">
                        {% for radio in form %}
                            {{ radio }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    <button type="submit" class="save btn btn-default" style="cursor: pointer">Save</button>
    </form>
    </div>
{% endblock %}