{% extends 'attendance/base.html' %}
{% block title %}Profile: {{ teacher.teacher_name }}{% endblock %}
{% block body %}
    <style>
        h2,h4 {
            text-align: center;
        }
        h4 {
            color: #456;
        }



    </style>
    <div class="container">
        <h2>{{ teacher.teacher_name }}</h2>
        <h4>{{ teacher.teacher_school }}</h4>
        <h4>{{ teacher.teacher_class }} - {{ teacher.teacher_section }}</h4>
        <p></p>

        <h3>List of Students:</h3>
        <ol>
            {% for student in students %}

                <li><a href="{% url 'attendance:student_detail' pk=student.id %}">{{ student.student_name  }}</a></li>

            {% endfor %}
        </ol>
        <a href="{% url 'attendance:student_create' pk=teacher.id %}" class="btn btn-success">Add Students</a>
        <a href="{% url 'attendance:mark_attendance' pk=teacher.id %}" class="btn btn-primary">Take Attendance</a>
        <p></p> 
        <a href="{% url 'attendance:profile_update' pk=teacher.id %}" class="btn btn-primary">Update Your Profile</a>   
        <p></p>
        
    </div>
{% endblock %}