{% extends 'attendance/base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
    <div class="container">
        <h2>Register here:</h2>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <fieldset class="control-group">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <p class="help-text"><sub>{{ field.help_text }}</sub></p>
                    </div>
                </fieldset>
            {% endfor %}
            <input type="submit" value="Submit" class="btn-primary btn">
        </form>
    </div>
{% endblock %}