{% extends 'attendance/base.html' %}
{% block title %}{{ teacher.teacher_name }}: Add Students{% endblock %}
{% block body %}
    <style>
        h1{
            text-align: center;
        }
        button {
            cursor: pointer;
        }

    </style>
    <div class="container">
    <h1>Add Student Details:</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% for field in form %}
                <fieldset class="control-group">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}:</label>
                    <div class="controls">
                        {{ field }}
                        <p class="help-text"><sub>{{ field.help_text }}</sub></p>
                    </div>
                </fieldset>
            {% endfor %}
    <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>
{% endblock %}